body
{
    background: #efefef;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0 auto;
    width: 100%;
    max-width: 50em;
    min-width: 600px
}

h1, h2, h3
{
    color: #549900;
    clear: both;
}

h1
{
    font-size: 3.8em;
    margin-bottom: 3px;
}

h1 .small
{
    font-size: 0.4em;
}

h1 a
{
    color: #375910;
    text-decoration: none;
}

h2
{
    font-size: 1.5em;
    padding-top: 15px;
}

h3
{
    text-align: left;
    margin-bottom: 8px;
}

a
{
    text-decoration: none;
    color: #549900;
}

a:hover
{
    color: #375910;
}

pre
{
    background: #444;
    color: #ddd;
    font-size: 0.85em;
    margin: 0px 30px;
    padding: 12px 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
}

hr
{
    border: 0;
    width: 80%;
    border-bottom: 1px solid #aaa;
}

.description
{
    font-size: 1.2em;
    margin-bottom: 30px;
    margin-top: 30px;
    font-style: italic;
}

.summary
{
    background: #dfdfdf;
    border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 15px;
}

.section
{
    margin: 0px 20px;
    line-height: 150%;
}

.footer
{
    font-size: 0.8em;
    text-align: center;
    padding-top: 30px;
    font-style: italic;
}

.subsection
{
    padding-left: 10px;
}

.subsection ul
{
    margin-top: 5px;
}

.light
{
    color: #777;
}

.light a
{
    color: #333;
}

.light a:hover
{
    color: #375910;
}

#authors #detail
{
    color: #555;
    float: right;
    padding-right: 150px;
}

#installation em
{
    font-style: italic;
    color: #555;
}

#screenshots li
{
    float: left;
    list-style-type: none;
}

#screenshots img
{
    background: #eee;
    margin: 10px;
    padding: 2px;
    border: 15px solid #dfdfdf;;
    border-radius: 15px;
    -moz-border-radius: 15px;
}

/* vim: set et sw=4 sts=4 tw=80: */
